{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<div id="contact-form" class="col-lg-6 col-md-8 col-11 mx-auto mt-4 mb-4 p-3 text-center shadow" >
    {{ include('hotel/_contact.html.twig', {'button_label': 'Envoyer'}) }}
</div>
{% endblock %}
