{% extends 'base.html.twig' %}

{% block title %}Hello HotelController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-4 p-3">                
            <div class="col-lg-3 col-md-4 col-11 mx-auto">
                <h5 class="quotes p-4 shadow">
                    La chambre classique
                </h5>
                <p>Chambre double pour 1 ou 2 personnes au rez de chaussée ou à l’étage – 13 à 15 m²</p>
                <p>Vue côté cour</p>
                <p>Lit grand confort  160×200</p>
                <p>Salle de bain avec douche à l’italienne – Chauffe serviettes- Sèche-cheveux – Produits de toilette</p>
                <p>Wi-Fi gratuit – Télévision écran plat – Coffre fort – Climatisation individuelle</p>
                <div class="col {{ app.request.get('_route') == 'app_room_contact' }}">
                    <a class="btn btn-lg m-3" id="btn-connexion" href="{{ path('app_room_contact', {'id': room.id}) }}">Réserver</a>
                </div>
            </div>
            <div class="row col-lg-6 col-md-7 col-11 mx-auto p-2">
                <div id="carouselExampleFade" class="carousel slide carousel-fade">
                    {% for image in room.images %}  
                        <div class="carousel-inner">
                            <div class="carousel-item{% if loop.index0 == 0 %} active {% endif %}">
                                <img src={{ asset('img/room/') ~ image.name }} class="d-block img-fluid img-thumbnail" style="width:100%" alt="service">
                            </div>
                        </div>
                    {% endfor %}
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>               
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
{% endblock %}
