{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="col mainCenter">
        <div class="d-flex justify-content-center m-3">
            <img src={{asset('img/table-5356682_1280.jpg')}} alt="Restaurant" id="img-Restaurant" class="img-fluid img-thumbnail active mt-4">
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-4 p-3">                
            <div class="col-lg-3 col-md-4 col-11 mx-auto">
                <h2 class="quotes p-4 shadow">
                    <em>Bienvenue à l’hôtel restaurant <strong>Regatta</strong>, pour une parenthèse de douceur, les pieds dans l’eau</em>
                </h2>
            </div>
            <div class="row col-lg-6 col-md-7 col-11 mx-auto p-2">
                <p>Vous rêvez de bleu à perte de vue, de soleil, d’un grand bol d’air iodé ? Vous avez besoin de vous ressourcer, de réveiller vos sens ou simplement découvrir l’ile d’Oléron ?</p>

                <p>Dans un cadre exceptionnel, naturel et préservé, notre hôtel et restaurant 3 étoiles à Oléron, vous attend pour vivre une expérience hors du temps. Au programme, nous vous proposons d’étonner vos papilles autour d’une cuisine créative et colorée, de profiter des charmes de l’ile d’Oléron et de vous endormir aux bruits des vagues.</p>

                <p>Toutes nos équipes apporteront une attention particulière à vos besoins pour que vous puissiez réveillez vos sens et profitez de votre escale.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
    
        <div class="row mt-4 p-3">           
            <div class="row col-lg-5 col-md-7 col-11 mx-auto p-2">
                <img src={{asset('img/homepage/photo-2022-03-30-20-17-19.webp')}} alt="Restaurant" id="img-Restaurant" class="img-fluid img-thumbnail active">
            </div>                
            <div class="col-lg-5 col-md-4 col-11 mx-auto">
                <h2 class="quotes p-4 shadow">
                    <em>Un hôtel trois étoiles, les pieds dans l’eau & la tête dans les nuages</em>
                </h2>
                <div class="p-2">
                    <p>L’hôtel Regatta à Oléron entre terre, mer et ciel. Situé sur la pointe sud de l’Ile d’Oléron, face au continent, sur une des plages de la station balnéaire de Saint-Trojan, l’Albatros est un établissement chaleureux et accueillant qui domine l’océan.</p>

                    <p>Aux pieds de l’hôtel, un sentier pédestre longe la côte et offre un magnifique panorama sur la mer. Une belle occasion pour se rafraîchir à marée haute ou pour pêcher quelques coquillages (palourdes, couteaux, etc) à marée basse.</p>

                    <p>A pied, à vélo ou en petit train, vous découvrirez tour à tour, le marais des bris, la forêt domaniale, le village de Saint Trojan et ses villas Belle Epoque. L’île d’Oléron, recèle un riche patrimoine naturel et historique … Autant de raisons de poser vos valises chez nous.</p>
                </div>           
            </div>
        </div>
        <div class="row mt-4 p-3">           
            <div class="col-lg-5 col-md-4 col-11 mx-auto">
                <h2 class="quotes p-4 shadow">
                    <em>UNE PARENTHÈSE DE DOUCEUR</em>
                </h2>
                <div class="p-2">
                    <p>Nos promesses</p>

                    <p>Une cuisine gourmande et colorée</p>

                    <p>Une expérience authentique les pieds dans l’eau</p>

                    <p>Vivre la paresse et le repos</p>
                </div>           
            </div>
            <div class="row col-lg-5 col-md-7 col-11 mx-auto p-2">
                <img src={{asset('img/retaurant-411940_1280.jpg')}} alt="Restaurant" id="img-Restaurant" class="img-fluid img-thumbnail active">
            </div>
        </div>
    </div>   

{% endblock %}
