/* assets/styles/app.css */

@font-face{
	font-family: Century Gothic;
	  font-style: normal;
	  font-weight: 400;
	  src: url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
}

* {
    box-sizing: border-box;
}

/* header */

/* navbar */

::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Century Gothic, Montserrat, Helvetica, sans-serif;
  background: #f4f4f4;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background: #D67940;
  box-shadow: inset 0px -1px 0px #c5c5c6;
}

.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
}

.nav-icon span {
  font-size: 25px;
  margin-left: 10px;
  font-weight: 400;
  color: #333;
}

.nav-icon img {
  width: 40px;
  transform: rotate(-17deg) translateX(5px);
}

.hamburger {
  display: none;
}

.navlinks-container a {
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #414141;
  position: relative;
}
.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 1px;
  transform: scale(0);
  transform-origin: left;
  background: #333;
  transition: transform 0.3s ease-out;
}
.navlinks-container a:hover::after {
  transform: scaleX(1);
}

.nav-authentication {
  margin-left: auto;
}

.sign-btns a {
  font-size: 16px;
  min-width: 90px;
  text-decoration: none;
  padding: 10px 5px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

#btn-connexion {
  border: none;
  text-decoration: none;
  background: #CCD9E2;

}

#btn-connexion:hover {
    border: none;
    text-decoration: none;
    background: #6F4849;  
    color: white;

  }
  #showReviewFormBtn {
    border: none;
    text-decoration: none;
    background: #CCD9E2;
  
  }

#showReviewFormBtn:hover {
    border: none;
    text-decoration: none;
    background: #6F4849;  
    color: white;

  }

.user-toggler {
  display: none;
}

@media (max-width: 900px) {
  nav {
    padding: 15px 20px;
    position: relative;
  }

  /* nav */
  .nav-icon {
    order: 2;
    margin: 0 auto;
  }

  .nav-icon span {
    font-size: 22px;
  }
  .main-navlinks {
    order: 1;
    width: auto;
  }

  /* hamburger */
  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: #D67940;
    align-items: center;
    position: relative;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #333;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }
  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }

  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }
  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }

  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: #D67940;
    top: 100%;
    left: 0;
    transform: translate(-100%);
    height: 100vh;
    padding: 15px 50px 15px 20px;
    border-right: 1px solid #c5c5c6;
  }
  .open {
    transform: translate(0%);
  }

  .navlinks-container a {
    font-size: 18px;
    margin: 10px 0px;
  }

  .nav-authentication {
    order: 3;
    margin-left: 0;
  }
  .sign-btns {
    display: none;
  }

  .user-toggler {
    display: block;
    cursor: pointer;
    border: none;
  }

  .user-toggler img {
    width: 20px;
  }
}

@media (max-width: 500px) {
  .nav-icon img {
    width: 30px;
  }
  .nav-icon span {
    font-size: 20px;
  }
}

#banner {
    background-color: #D67940;
    font-size: 1.4em;
    color: white;
}

.nav-item:hover {
    background-color: #CCD9E2;
    color: black;
}

#hours {
    width: 100%;
    background-color: #285185;
    color: white;
    position: absolute;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-logo {
    width : 150px;
    height : 150px;
}

#navbarNav  {
    background-color: #D67940;
}

#reset-filters{
    background-color: #05445E;
    color: white;
}

#contact-form {
    background-color: #189AB4;
    color: white;

}

.form {
    background-color: #75E6DA;
}

.hover {
    color: #75E6DA;
  }

#show-star {
    color: #D67940;
    border-color: #285185;
    ;
}

#card-car {
    background-color: #189AB4;
    color: #ffff;
}


.elementor-container{
    margin-right: auto;
    margin-left: auto;
}

em {
    font-style: italic;
}

/* Social networks */

.fw-bolder {
    color: #D67940;
}
.social-buttons {
    justify-content: center;
}

.social-buttons a {
    display: inline-flex;
    text-decoration: none;
    font-size: 18px;
    width: 60px;
    height: 60px;
    color: #D67940;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 8px;
  }

  .bt-top-social{
      display: flex;
      list-style: none;
  }

  .social-buttons a::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background: linear-gradient(45deg,#CCD9E2,#D67940);
    border-radius: 50%;
    z-index: -1;
    transition: 0.3s ease-in;
  }
  
  .social-buttons a:hover::before{
    transform: scale(0);
  }
  
  .social-buttons a i{
    transition: 0.3s ease-in;
  }
  
  .social-buttons a:hover i{
    background: linear-gradient(45deg,#CCD9E2,#D67940);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(2.5);
  }

/* Homepage*/

.quotes {
    font-size: 35px;
    letter-spacing: 2px;
}

/* presentation */

.presentation {
    background-color: #D67940;
    color: #ffff;
}

.menu {
    background-color: #CCD9E2;
}

.contact_form {
    background-color: #285185;
}

.contact_title {
    background-color: #D67940;
    color: #ffff;
}

#email {
    color: #ffff;
}

#password {
    color: #ffff;
}

/* CSS pour l'animation */
.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}