{% extends 'base.html.twig' %}

{% block title %}Hello RestaurantController!{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row m-4 p-3">           
            <div class="presentation col-lg-5 col-md-4 col-11 m-4 p-3 shadow">
                <h2 class="quotes p-4 shadow">
                    <em>Un cadre magique</em>
                </h2>
                <div class="p-2">
                    <p>Dans une ambiance chaleureuse et authentique, laissez vous charmer par la vue exceptionnelle sur l’océan qui se contemple depuis chaque table du restaurant.</p>

                    <p>Dans le cadre unique de ce restaurant baigné de lumière, partagez, en toute convivialité, une expérience bistronomique véritablement unique et inoubliable à Oléron</p>

                    <p>A travers une cuisine simple, sensible et iodée, le chef propose des plats qui font la part belle aux saveurs iodées et au riche terroir du Pays de l’île.</p>

                </div>           
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row m-4 p-3">           
            <div class="presentation col-lg-5 col-md-4 col-11 m-4 p-3 shadow">
                <h2 class="quotes p-4 shadow">
                    <em>Formule</em>
                </h2>
                <div class="p-2">
                    <p>Entrée + plat 43 €</p>

                    <p>Dans le cadre unique de ce restaurant baigné de lumière, partagez, en toute convivialité, une expérience bistronomique véritablement unique et inoubliable à Oléron</p>

                    <p>A travers une cuisine simple, sensible et iodée, le chef propose des plats qui font la part belle aux saveurs iodées et au riche terroir du Pays de l’île.</p>

                </div>           
            </div>
            <div class="menu col-lg-5 col-md-4 col-11 m-4 p-3 shadow">
                <h2 class="quotes p-4 shadow">
                    <em>Les plats de la carte</em>
                </h2>
                <div class="p-2">
                    <p>Entrée + plat 43 €</p>

                    <p>Dans le cadre unique de ce restaurant baigné de lumière, partagez, en toute convivialité, une expérience bistronomique véritablement unique et inoubliable à Oléron</p>

                    <p>A travers une cuisine simple, sensible et iodée, le chef propose des plats qui font la part belle aux saveurs iodées et au riche terroir du Pays de l’île.</p>

                </div>           
            </div>
        </div>
    </div>

{% endblock %}
