{% extends 'base.html.twig' %}

{% block title %}Edit Dish{% endblock %}

{% block body %}
<div class="col-lg-4 col-md-6 col-11 m-4 mx-auto">

    <h3 class="quotes p-4 shadow">Editer le plat</h3>

    {{ include('dish/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dish_index') }}">retour à la liste</a>

    {{ include('dish/_delete_form.html.twig') }}
</div>
{% endblock %}
