{% extends 'base.html.twig' %}

{% block title %}New Starter{% endblock %}

{% block body %}
<div class="col-lg-4 col-md-6 col-11 m-4 mx-auto">

    <h3 class="quotes p-4 shadow">Create new Starter</h3>

    {{ include('starter/_form.html.twig') }}

    <a href="{{ path('app_starter_index') }}">back to list</a>
</div>
{% endblock %}
